@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Registration Confirmation";
}

<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            @*<div class="auth-logo">
                <a asp-action="Index" asp-controller="Home"><img src="~/mazar/images/logo/logo.png" alt="Logo"></a>
            </div>*@
            <p class="auth-subtitle mb-5">
                Please verify your email...
            </p>
            <div class="text-center mt-5 text-lg fs-4">
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">
        </div>
    </div>
</div>
